
# v3.8.0

[Unit]
Description=ProtonVPN Reconnector

[Service]
ExecStart=/usr/bin/python3 /usr/lib/python3/dist-packages/protonvpn_nm_lib/daemon/dbus_daemon_reconnector.py
