[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/samucancld/Desktop/guia_s4vitar]
row=5
col=0

[3AA098C7A0988AD1]
row=1
col=0

[10828876828861D8]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/samucancld]
row=4
col=0

